!!! 5
html
    head
        meta(charset='UTF-8')
        block head
            title Polygraphy
            meta(name="viewport", content="width=device-width, initial-scale=1")
            meta(name="_csrf", content="#{_csrf.token}")
            meta(name="_csrf_header", content="#{_csrf.headerName}")
            link(rel="stylesheet", href="/stylesheets/osans.css")
            link(rel="stylesheet", href="/stylesheets/style-header.css")
            link(rel="shortcut icon", href="/images/favicon.ico")
            script(type='application/javascript', src='/vendor/scripts/jquery-2.1.4.min.js')
            script(type='application/javascript', src='/vendor/scripts/handlebars-v3.0.3.js')
            script(type='application/javascript', src='/scripts/header.js')
    body
        include layout-header
        block content