header.header
    ul.more-info
        li
            .navigate-button.info-for-polygraphy
                a(href='/info-for-polygraphy', id='info-for-polygraphy')
                    | Информация для полиграфий
        li
            .navigate-button.about-project
                a(href='/about-project')
                    | О проекте
        if security.isUserInRole("ROLE_ADMIN")
            li.list
                .navigate-button.icon-for-list
                    ul.options-list
                        li.list-item
                            a(href="/admin")
                                | Личный кабинет
                        li.list-item
                            a(href="/logout")
                                | Выход
    .logo-box
        a(href='/')
            .logo
    .slogan
        Не знаете, где сделать принт на футболку? Или напечатать быстро 1000 визиток?
        br
        Мы найдем полиграфии для ваших задач!
    .slogan-mini
        Быстрый поиск по полиграфиям