@import url("osans.css");

.b-bid{
    width: 895px;
    height: auto;
    background-color: #64be5f;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
}

.b-bid__head-text{
    text-align: center;
    font-size: 23px;
    color: white;
}

.b-bid__form-container{
    width: 650px;
    margin: 30px auto;
}

.b-bid__email-input{
    float: left;
    height: 50px;
    width: 450px;
    border: 2px solid white;
    border-radius: 25px;
    outline: none;
    padding: 0 30px;
    box-sizing: border-box;
    font-size: 17px;
}

.b-bid__email-input:hover,
.b-bid__email-input:focus{
    border-color: #f3e642;
}

.b-bid__submit-email{
    font-family: "OpenSansLightRegular";
    float: right;
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 25px;
    outline: none;
    color: black;
    font-size: 23px;
    padding: 0 30px;
    background-color: #f3e642;
}

.b-bid__submit-email:hover{
    cursor: pointer;
    background-color: #dad14c;
}

.b-bid__button-login-container{
    margin: 20px auto 0px auto;
}

.b-bid__button-login{
    font-family: "OpenSansLightRegular";
    border: none;
    border-radius: 25px;
    outline: none;
    color: black;
    font-size: 23px;
    padding: 9px 55px;
    background-color: #f3e642;
    text-decoration: none;
}

.b-bid__button-login:hover{
    cursor: pointer;
    background-color: #dad14c;
}

.b-bid__input-wrapper{
    position: relative;
    height: 50px;
}

.b_bid__for-error{
    display: none;
    height: 7px;
    background-image: url("/images/for-error.png");
    background-size: 13px 7px;
    background-repeat: no-repeat;
    background-position: calc(0% + 50px);
}

.b-bid__error-container{
    display: none;
    background-color: #FD5D58;
    max-width: 80%;
    float: left;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 1024px) {

    .b-bid{
        width: 95%;
        max-width: 750px;
        height: auto;
        padding: 20px 10px;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .b-bid__head-text{
        font-size: 18px;
    }

    .b-bid__form-container {
        width: 80%;
        height: 40px;
        margin: 20px auto;
    }

    .b-bid__email-input{
        height: 40px;
        width: 70%;
        padding: 0 20px;
        font-size: 16px;
    }

    .b-bid__submit-email{
        width: 25%;
        height: 40px;
        font-size: 18px;
        padding: 0;
    }

    .b-bid__button-login{
        font-size: 18px;
        padding: 8px 45px;
    }
}

@media screen and (max-width: 700px){

    .b-bid__area-email-wrapper{
        height: 230px;
    }

    .b-bid__head-text{
        font-size: 16px;
    }

    .b-bid__form-container{
        width: 100%;
        height: auto;
        margin: auto;
        margin-bottom: 10px;
    }

    .b-bid__email-input{
        float: none;
        width: 95%;
        font-size: 15px;
        margin: 15px auto;
    }

    .b-bid__submit-email{
        float: none;
        width: auto;
        font-size: 16px;
        padding: 0 20px;
    }

    .b-bid__button-login-container{
        margin: 20px auto 20px auto;
    }

    .b-bid__button-login{
        font-size: 16px;
        padding: 9px 38px;
    }

}