.general-button-link{
    text-align: center;
}

.general-button-link__link{
    font-family: "OpenSansRegular";
    border: none;
    border-radius: 20px;
    outline: none;
    color: black;
    font-size: 16px;
    line-height: 40px;
    background-color: #f3e642;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    box-sizing: border-box;
    min-width: 100px;
}

.general-button-link__link:hover{
    cursor: pointer;
    background-color: #dad14c;
}