@import url("osans.css");

body{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    font-family: "OpenSansLightRegular";
}

:focus{
    outline: none;
}

.b-search{
    text-align: center;
    margin: 5px auto;
}

.b-search__button-up{
    background: url("/images/up-arrow.png");
    height: 60px;
    width: 60px;
    position: fixed;
    opacity: 0.5;
    left: 35px;
    bottom: 50px;
    display: none;
    cursor: pointer;
}

.b-search__js-loader{
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    margin: auto;
    background-image: url('/images/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.b-search__overlay{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    text-align: center;
}

.b-search__overlay:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: ''
}


@media screen and (max-width: 700px){

    body{
        margin: auto;
        width: 100%;
        max-width: 450px;
        min-width: 320px;
    }

}

@media screen and (min-width: 701px) and (max-width: 1024px){

    body{
        margin: auto;
        width: 100%;
    }

    .b-search__wrapper{
        margin: auto;
        width: 95%;
        max-width: 900px;
    }

}

