@import url("osans.css");

body{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    font-family: "OpenSansLightRegular";
}

:focus{
    outline: none;
}

.comeback-button-container{
    margin: 10px auto 0px auto;
    text-align: center;
}

.comeback{
    outline: none;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid rgb(120, 103, 156);
    color: rgb(120, 103, 156);
    background-color: white;
    height: 30px;
    width: auto;
    padding: 5px 10px;
    font-size: 13px;
    text-decoration: none;
}

.comeback:hover{
    background-color: rgb(120, 103, 156);
    color: white;
}

main{
    width: 938px;
    height: auto;
    text-align: center;
    background-color: white;
    outline: none;
    clear: both;
    padding: 50px;
    box-sizing: border-box;
    border: none;
    overflow: hidden;
    margin: 0 auto 50px auto;
}

.info{
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.helper{
    display: inline-block;
    height: 100%;
    width: 0px;
    vertical-align: middle;
}

.summary{
    width: 265px;
    height: 100%;
    display: inline-block;
    float: left;
    text-align: left;
}

.polygraphy-name{
    font-family: "OpenSansLightRegular";
    font-size: 25px;
    color: black;
}

table.services{
    margin: 25px auto;
}

.address,
.phone,
.email,
.site{
    margin-bottom: 5px;
    padding-left: 24px;
    font-size: 17px;
}

.address{
    background: url("../images/map-violet.png");
    background-repeat: no-repeat;
    background-position: left calc(0% + 5px);
}

.phone{
    background: url("../images/phone-violet.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.email{
    background: url("../images/mail-violet.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.site{
    background: url("../images/link-violet.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.site > a{
    color: rgb(111, 194, 106);
}

.details{
    width: 455px;
    height: 100%;
    display: inline-block;
    float: right;
    text-align: left;
}

.about-title{
    font-family: "OpenSansLightRegular";
    font-size: 25px;
    color: black;
}

.about-text{
    font-size: 17px;
    margin-top: 30px;
    padding-right: 5px;
    text-align: left;
    height: 90%;
}

@media screen and (min-width: 320px) and (max-width: 414px){

    body{
        width: 100%;
    }

    main{
        width: 100%;
        padding: 20px;
    }

    .summary{
        width: 100%;
        display: block;
        float: none;
    }

    .polygraphy-name{
        text-align: center;
    }

    table.services{
        margin: 25px auto;
    }


    .details{
        width: 100%;
        display: block;
        float: none;
    }

    .about-title{
        text-align: center;
        margin-top: 20px;
    }

    .about-text{
        font-size: 15px;
        height: auto;
        margin-top: 10px;/*
        margin-top: 30px;
        padding-right: 5px;
        text-align: left;
        height: 90%;*/
    }

}