@import url("fregat-font.css");
@import url("osans.css");

body{
    max-width: 940px;
    margin: 0 auto;
    background-color: #e9e9e9;
    font-family: "OpenSansRegular";
}


header{
    margin: 15px auto;
    text-align: center;
    max-height: 200px;
    width: auto;
    position: relative;
}


.comeback{
    float: left;
    background: url("../images/left-arrow.png");
    background-size: 7px 11px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    color: black;
    position: absolute;
    left: 0;
    bottom: 0;
}


.logo{
    margin: 15px auto;
    background: url("../images/big-logo.png");
    background-repeat: no-repeat;
    width: 281px;
    height: 159px;
}


main{
    width: 938px;
    height: 618px;
    text-align: center;
    background-color: white;
    border-radius: 15px;        //!!!спросить
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgb(216, 216, 216);     //!!!спросить
    clear: both;
}

.info{
    width: 800px;
    height: 490px;
    display: inline-block;
    vertical-align: middle;
    //border: 1px solid #ccc;
}

.helper{
    display: inline-block;
    height: 100%;
    width: 0px;
    vertical-align: middle;
}

.summary{
    width: 265px;
    height: 100%;
    display: inline-block;
    float: left;
    //border: 1px solid #ccc;
    text-align: left;
}

.polygraphy-name{
    font-family: "OpenSansLightRegular";
    font-size: 25px;
    color: black;
}

table.services{
    margin: 25px auto;
}

table.services td{
    background-image: url("../images/circle1.png");
    background-repeat: no-repeat;
    padding: 0 5px 5px 0;
    height: 58px;
    width: 59px;
}

.address,
.phone,
.email,
.site{
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 24px;
    font-size: 17px;
}

.address{
    background: url("../images/map.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.phone{
    background: url("../images/phone.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.email{
    background: url("../images/mail.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.site{
    background: url("../images/link.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.site > a{
    color: rgb(111, 194, 106);
}


.details{
    width: 455px;
    height: 100%;
    display: inline-block;
    float: right;
    //border: 1px solid #ccc;
    text-align: left;
}

.about-title{
    font-family: "OpenSansLightRegular";
    font-size: 25px;
    color: black;
}

.about-text{
    font-size: 17px;
    margin: 30px auto;
    text-align: left;
}