@import url("osans.css");

body{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    font-family: "OpenSansLightRegular";
}

:focus{
    outline: none;
}

.registration-form{
    width: 700px;
    height: auto;
    background-color: #64be5f;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 50px;
    color: white;
}

.registration-form-headline{
    font-size: 30px;
}

.text-fields{
    font-family: "OpenSansRegular";
}

.field-email, .field-password, .field-name, .field-address,
.field-phone, .field-public-email, .field-site, .field-text-area{
    font-size: 16px;
    text-align: left;
    margin-bottom: 15px;
}

#email-public-input{
    background: url("../images/question.png") no-repeat;
    background-position: calc(100% - 15px) center;
    background-color: white;
    padding-right: 40px;
    background-size: 20px 20px;
}

.field{
}

.form-control{
    height: 40px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid white;
    outline: none;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 5px 0 0 0;
    font-size: 16px;
}

textarea#text-area-field{
    height: 300px;
    width: 100%;
    padding: 25px;
    resize: none;
}

.form-control:hover,
.form-control:focus{
    border: 2px solid #efe553;
}

.field-checkbox{
    height: 30px;
    line-height: 30px;
    text-align: left;
    margin: 10px 0;
    font-size: 16px;
    font-family: "OpenSansLightRegular";
}

.field-checkboxes{
    text-align: left;
    //margin: 20px 0;
    font-size: 18px;
    font-family: "OpenSansRegular";
}

input.checkbox[type="checkbox"]{
    display: none;
}

input.checkbox[type="checkbox"]+label{
    background: url("../images/check.png") 0px 0px no-repeat;
    padding-left: 23px;
    width: 15px;
    height: 15px;
}

input.checkbox[type="checkbox"]:checked+label{
    background: url("../images/check.png") 0 -30px no-repeat;
    padding-left: 23px;
    width: 15px;
    height: 15px;
}

input.checkbox[type="checkbox"]+label:hover{
    cursor: pointer;
}

.field-payment,
.field-delivery{
    width: 50%;
    height: 160px;
    float: left;
}

.field-services{
    width: 100%;
    //height: 200px;
    float: left;
}

.field-order-by-email,
.field-issue-check{
    width: 100%;
    float: left;
    margin: 0;
    margin-bottom: 20px;
}

.submit-registration-form{
    height: 40px;
    width: auto;
    line-height: 40px;
    border: none;
    border-radius: 20px;
    //color: white;
    font-family: "OpenSansLightRegular";
    font-size: 16px;
    text-decoration: none;
    background-color: #efe553;
    outline: none;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 10px;
    float: right;
}

button.submit-registration-form[type="submit"]:hover{
    cursor: pointer;
    background-color: #dad14c;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.prev, .next {
    height: 40px;
    width: auto;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    font-family: "OpenSansRegular";
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #64be5f;
    outline: none;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 10px;
}

.prev:hover, .next:hover {
    cursor: pointer;
    background-color: #88d280;
}

.prev {
    float: left;
}

.next {
    float: right;
}

#steps {
    list-style: none;
    width: 100%;
    overflow: hidden;
    margin: 20px 0px;
    padding: 0px;
}

#steps li {
    font-size: 30px;
    float: left;
    padding: 0;
    margin-right: 10px;
    color: white;
    opacity: 0.5;
}

#steps li span {
    font-size: 11px;
    display: block;
}

#steps li.current {
    color: #efe553;
    opacity: 1;
}

.input-wrapper{
    position: relative;
}

.invalid-email, .invalid-password, .invalid-name,
.invalid-address, .invalid-phone, .invalid-public-email,
.invalid-delivery-method, .invalid-services{
    display: none;
    position: absolute;
    top: 56%;
    left: 122%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: red;
    box-sizing: border-box;
    padding: 8px 0;
    border: 2px solid red;
    border-radius: 25px;
    min-width: 250px;
    min-height: 40px;
    font-size: 14px;
    text-align: center;
}

.invalid-payment-method{
    display: none;
    position: absolute;
    top: 56%;
    right: 65%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: red;
    box-sizing: border-box;
    padding: 8px 0;
    border: 2px solid red;
    border-radius: 25px;
    min-width: 250px;
    min-height: 40px;
    font-size: 14px;
    text-align: center;
}

.base-error{
    display: none;
    background-color: white;
    color: red;
    box-sizing: border-box;
    padding: 8px 0;
    border: 2px solid red;
    border-radius: 25px;
    min-width: 250px;
    min-height: 40px;
    font-size: 18px;
    text-align: center;
}