@import url("fregat-font.css");

body{
    width: 920px;
    margin: 0 auto;
    background-color: #e9e9e9;
    font-family: "FregatRegular";
}

.container{
    margin-bottom: 200px;
}

.header{
    margin: 0;
    text-align: center;
}

.logo{
    background-image: url(../images/logo.png);
    height: 110px;
    width: 196px;
    background-size: 196px 110px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 28px auto;
}

.polygraphy-name{
    background-color: rgb(142, 199, 210);
    border-radius: 10px 10px 0 0 ;
    height: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
    font-family: "FregatRegular";
    font-size: 30px;
    margin-bottom: 5px;
}

.info{
    background-color: white;
    height: 205px;
    margin-bottom: 5px;
    font-size: 20px;
}

.polygraphy-logo{
    background-image: url(../images/icon4.png);
    background-repeat: no-repeat;
    float: left;
    background-size: auto;
    display: block;
    width: 195px;
    height: 193px;
    margin: 6px 35px;
}

.short-info{
    color: rgb(8, 61, 78);
    display: block;
    float: left;
    font-size: 20px;
    margin: 42px 0;
}

.short-info a{
    text-decoration: none;
    color: rgb(8, 61, 78);
}

.short-info p{
    margin: 0;
    margin-bottom: 8px;
}

.long-info{
    background-color: white;
    height: 460px;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 20px 10px;
    color: rgb(8, 61, 78);
}

.long-info+p{
    background-color: rgb(142, 199, 210);
    border-radius: 0 0 10px 10px;
    height: 40px;
    margin: 0;
}