@import url("osans.css");

body{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    font-family: "OpenSansLightRegular";
}

:focus{
    outline: none;
}

.container-for-bid{
    width: 895px;
    height: 255px;
    background-color: #64be5f;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
}

.head-text{
    text-align: center;
    font-size: 23px;
    color: white;
}

.form-container{
    width: 650px;
    height: 50px;
    margin: 30px auto;
}

.email-input{
    float: left;
    height: 50px;
    width: 450px;
    border: none;
    border-radius: 25px;
    outline: none;
    padding: 0 30px;
    box-sizing: border-box;
    font-size: 17px;
}

.submit-email{
    float: right;
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 25px;
    outline: none;
    color: black;
    font-size: 23px;
    padding: 0 30px;
    background-color: #f3e642;
}

.submit-email:hover{
    cursor: pointer;
    background-color: #dad14c;
}

