@import url("osans.css");

body{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    font-family: "OpenSansRegular";
    font-size: 16px;
}

:focus{
    outline: none;
}

.edit-form{
    width: 700px;
    height: auto;
    background-color: #64be5f;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 50px;
    color: white;
}

.edit-form-headline{
    font-size: 30px;
    font-family: "OpenSansLightRegular";
    margin-bottom: 50px;
}

.text-input-wrapper{
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}

.input-label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.input-field{
    border: 2px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    padding: 0 30px;
    font-size: 16px;
    width: 100%;
    height: 40px;
}

.input-field:hover,
.input-field:focus,
.textarea-field:hover,
.textarea-field:focus{
    border: 2px solid #efe553;
}

.textarea-field{
    border: 2px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    width: 100%;
    height: 300px;
    padding: 25px;
    resize: none;
}

.checkbox-input-wrapper{
    width: 50%;
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

input.checkbox[type="checkbox"]{
    display: none;
}

input.checkbox[type="checkbox"]+label{
    background: url("../images/check.png") 0px 0px no-repeat;
    padding-left: 23px;
    width: auto;
    height: 20px;
    margin-top: 15px;
    display: block;
    text-align: left;
}

input.checkbox[type="checkbox"]:checked+label{
    background: url("../images/check.png") 0 -30px no-repeat;
    padding-left: 23px;
    width: auto;
    height: 20px;
    margin-top: 15px;
    display: block;
    text-align: left;
}

input.checkbox[type="checkbox"]+label:hover{
    cursor: pointer;
}

.checkbox-input-service-wrapper{
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

.button-container{
    margin-top: 30px;
}

.save{

}

