@import url("osans.css");

.header{
    margin: 0;
    margin-bottom: 20px;
    min-height: 165px;
    text-align: center;
}

.logo-box{
    height: 165px;
    width: 228px;
    margin: auto 25px auto 50px;
    float: left;
}

.logo{
    background-image: url("../images/logo.png");
    height: 165px;
    width: 228px;
    background-position: center center;
    background-repeat: no-repeat;
}

.more-info{
    height: 30px;
    width: auto;
    float: right;
    font-size: 16px;
    margin-top: 38px;
    margin-right: 50px;
}

.navigate-button{
    display: inline-block;
    height: 100%;
    line-height: 30px;
    width: auto;
    padding: 0 20px;
    background-color: rgb(232, 232, 232);
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 15px;
    vertical-align: middle;
}

.navigate-button a{
    text-decoration: none;
    color: black;
}

.about-project{
    //margin-left: 15px;
}

.navigate-button:hover{
    background-color: #f3e642;
    cursor: pointer;
}

.icon-for-list{
    height: 30px;
    width: 30px;
    background: url("../images/icon.png") calc(0% + 10px) center no-repeat,
                url("../images/arrow.png") calc(100% - 10px) center no-repeat;
    background-color: rgb(232, 232, 232);
    float: right;
    //background-repeat: no-repeat;
    //background-size: 28px 28px;
    //background-position: center center;
}

/*.bottom-arrow{
    background: url("../images/arrow.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 100%;
    float: right;
    background-position: center center;
    margin-left: 5px;
}*/

.options-list{
    width: 140px;
    background-color: rgb(232, 232, 232);
    text-indent: 10px;
    padding-left: 0;
    margin-left: -20px;
    margin-top: 30px;
    //display: none;
    visibility: hidden;
}

.slogan{
    font-size: 19px;
    line-height: 21px;
    height: auto;
    width: 755px;
    float: left;
    text-align: left;
    margin-top: 20px;
}

ul.more-info>li{
    list-style-type: none;
    display: inline;
}

.list-item{
    list-style-type: none;
    width: 150px;
    text-align: left;
    text-indent: 20px;
}

.list-item:hover{
    background: url('../images/circle1-1.png') left center no-repeat;
    background-size: 15px 15px;
    //background-color: #f3e642;
}
