@import url("osans.css");

body{
    width: 1200px;
    margin: 0 auto;
    font-family: "OpenSansLightRegular";
    text-align: center;
}

:focus{
    outline: none;
}

.content-block{
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    background-color: rgb(232, 232, 232);
    padding: 50px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
}

.headline{
    font-size: 22px;
    margin-bottom: 20px;
}

.content{
    font-size: 18px;
    text-align: left;
    text-indent: 20px;
}

.link{
    color: #64be5f;
}

@media screen and (max-width: 700px){

    body{
        width: 100%;
    }

    .content-block{
        width: 95%;
        height: auto;
        margin: 20px auto;
        padding: 20px 10px;
    }

    .content{
        font-size: 16px;
    }

}

@media screen and (min-width: 701px) and (max-width: 1000px) {

    body {
        margin: auto;
        width: 100%;
    }

    .content-block{
        width: 95%;
        max-width: 700px;
        height: auto;
        margin: 20px auto;
        padding: 20px;
    }

    .content{
        font-size: 16px;
    }
}
