body{
    margin: 0;
    background-color: #e9e9e9;
}

h1{
    color: red;
}

.logo{
    height: 300px;
    margin: 0;
    text-align: center;
    background-image: url(/images/Logo.png);
    background-size: cover;
    background-position: center center;
}

.search{

}

.search-line{
    display: block;
    width: 700px;
    margin: 20px auto;
    border: 1px solid #696969;
    border-radius: 15px;
    padding: 3px;
}

.radiobuttons{
    width: 700px;
    margin: 20px auto;
}

.btn{
    text-align: center;
    margin: 0 10px;
}

.selects{
    margin: 20px auto;
    text-align: center;
}

.payment-method{
    width: 180px;
    margin: 0 5px;
}

.delivery-method{
    width: 180px;
    margin: 0 5px;
}

.checkboxes{
    margin: 20px auto;
    text-align: center;
}

.check{
    width: 180px;
    margin: 0 5px;
}