@import url("osans.css");

body{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    font-family: "OpenSansLightRegular";
}

:focus{
    outline: none;
}

.container-for-bid{
    width: 895px;
    height: 330px;
    background-color: #64be5f;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
}

.head-text{
    text-align: center;
    font-size: 23px;
    color: white;
}

.form-container{
    width: 650px;
    height: 50px;
    margin: 30px auto;
}

.email-input{
    float: left;
    height: 50px;
    width: 450px;
    border: 2px solid white;
    border-radius: 25px;
    outline: none;
    padding: 0 30px;
    box-sizing: border-box;
    font-size: 17px;
}

.email-input:hover,
.email-input:focus{
    border-color: #f3e642;
}

.submit-email{
    font-family: "OpenSansLightRegular";
    float: right;
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 25px;
    outline: none;
    color: black;
    font-size: 23px;
    padding: 0 30px;
    background-color: #f3e642;
}

.submit-email:hover{
    cursor: pointer;
    background-color: #dad14c;
}

.button-login-container{
    margin: 20px auto;
}

.button-login{
    font-family: "OpenSansLightRegular";
    border: none;
    border-radius: 25px;
    outline: none;
    color: black;
    font-size: 23px;
    padding: 9px 55px;
    background-color: #f3e642;
    text-decoration: none;
}

.button-login:hover{
    cursor: pointer;
    background-color: #dad14c;
}

.input-wrapper{
    position: relative;
}

.error-container{
    display: none;
    position: absolute;
    top: 0;
    right: 81%;
    transform: translate(-50%, 0%);
    background-color: white;
    color: red;
    box-sizing: border-box;
    padding: 15px 0;
    border: 2px solid red;
    border-radius: 25px;
    min-width: 250px;
    min-height: 50px;
    font-size: 14px;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 414px){

    body{
        width: 100%;
    }

    .container-for-bid{
        width: 95%;
        height: auto;
        padding: 20px 10px;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .head-text{
        font-size: 16px;
    }

    .form-container{
        width: 100%;
        height: auto;
        margin: auto;
        margin-bottom: 10px;
    }

    .email-input{
        float: none;
        height: 40px;
        width: 100%;
        padding: 0 20px;
        font-size: 15px;
        margin: 15px auto;
    }

    .submit-email{
        float: none;
        width: auto;
        height: 40px;
        font-size: 16px;
        padding: 0 20px;
    }


    .button-login{
        font-size: 16px;
        padding: 9px 38px;
    }

}

