@import url("osans.css");

body{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    font-family: "OpenSansLightRegular";

}

:focus{
    outline: none;
}

.admin-headline{
    font-size: 22px;
    color: black;
    margin-bottom: 20px;
    text-align: left;
    margin: auto;
    width: 1000px;
}

.tab{
    display: inline-block;
    padding: 10px 0;
    padding-right: 15px;
    margin-right: 2px;
    cursor: pointer;
    border: none;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    text-indent: 10px;
    background-color: rgb(232, 232, 232);
}

.tab2{
    background-color: rgb(240, 240, 240);
}

.admin{
    width: 1000px;
    height: auto;
    background-color: rgb(232, 232, 232);
    border-radius: 0 10px 10px 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    box-sizing: border-box;
    padding: 40px 60px;
    color: white;
}

.generate-link{
    height: 35px;
    width: 230px;
    line-height: 35px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #efe553;
    outline: none;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

a.get-link{
    text-decoration: none;
    color: black;
}

.generate-link:hover{
    cursor: pointer;
    background-color: #dad14c;
}

.link a{
    color: black;
}

.table-container{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #64be5f;
    overflow: hidden;
}

table.admin-table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    box-sizing: border-box;
}

.admin-table td,
.admin-table th{
    padding: 10px;
    box-sizing: border-box;
}

.head-e-mail{
    //width: 30%;
    border-right: 1px solid #64be5f;
}

.head-link{
    //width: 70%;
}

.head{
    box-sizing: border-box;
    border-bottom: 1px solid #64be5f;
    background-color: #64be5f;
    color: white;
}

.col-email{
    text-align: left;
}

.col-action{
}
a.take-link{

    color: #25BB1D;
}

.button-container{
    display: inline-block;
    margin: 0 5px;
}

.col-edit{
    min-width: 310px;
}

.option{
    height: 35px;
    width: auto;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'OpenSansLightRegular';
    text-decoration: none;
    background-color: #efe553;
    outline: none;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.option a{
    text-decoration: none;
    color: black;
}

.option:hover{
    cursor: pointer;
    background-color: #dad14c;
}

.col{
    color: black;
    border-top: 1px solid #64be5f;
    border-right: 1px solid #64be5f;
}


input.checkbox[type="checkbox"]{
    display: none;
}

input.checkbox[type="checkbox"]+label{
    background: url("../images/check.png") 0px 0px no-repeat;
    padding-left: 16px;
    width: 15px;
    height: 15px;
}

input.checkbox[type="checkbox"]:checked+label{
    background: url("../images/check.png") 0 -30px no-repeat;
    padding-left: 16px;
    width: 15px;
    height: 15px;
}

input.checkbox[type="checkbox"]+label:hover{
    cursor: pointer;
}

.for-tab2{
    display: none;
    //visibility: hidden;
}