!!! 5
html
  head
    meta(charset='UTF-8')
    block head
      title Polygraphy

      meta(name="viewport", content="width=device-width, initial-scale=1")

      link(rel="stylesheet", href="stylesheets/fregat-font.css")
      link(rel="stylesheet", href="stylesheets/style.css")
      link(rel="shortcut icon", href="images/favicon.ico")
      script(type='application/javascript', th:src='@{../vendor/scripts/jquery-2.1.4.min.js}').
      script(type='application/javascript', th:src='@{../scripts/app.js}').

  body
    .container
      block content