extends ../layouts/layout-admin

block append content

    .admin-form
        .admin-headline
            АДМИНИСТРАТОР
        .table-container
            table.admin-table
                tr
                    th.head-e-mail
                        | E-mail
                    th.head-link
                        | Ссылка для регистрации
                for request in requests
                    tr.row
                        td.col-email
                            = request.email
                        td.col-link
                            if request.hash
                                = request.link
                            else
                                .generate-link
                                    a(href='/admin/registration-link', id='#{request.id}')
                                        | Сгенерировать ссылку
                                .link
                                    a(href='#{generate}', id='#{request.id}')= generate