extends ../layout

block append content

    a(href='/graphic-arts-industry')
        .logo
    .search
        form(method='post', action='/')
            .search-line
                input.search-field(name='polygraphy', type='text', placeholder='Поиск')
            .radiobuttons
                label#btn1.btn
                    input#btn1(name='btn', value='in_color', form='btn', type='radio')
                    | печать в цвете
                label#btn2.btn
                    input#btn2(name='btn', value='on_cups', form='btn', type='radio')
                    | печать на кружках
                label#btn3.btn
                    input#btn3(name='btn', value='wide_format', form='btn', type='radio')
                    | широкоформатная печать
                label#btn4.btn
                    input#btn4(name='btn', value='serigraphy', form='btn', type='radio')
                    | шелкография
            .selects
                select.payment-method(name='payment_method')
                    option(selected='') Способ оплаты
                    option Наличный расчет
                    option Расчет по карте
                    option Оплата по счету
                select.delivery-method(name='delivery_method')
                    option(selected='') Доставка
                    option самовывоз
                    option почта России
                    option с курьером
            .checkboxes
                label#check.check
                    input#check(type='checkbox')
                    | выдает чек
                label#check.check
                    input#check(type='checkbox')
                    | принимает заказ по e-mail
            button(type='submit') Найти
    ul.results
        for polygraphy in polygraphies
            li
                .icon
                .info
                    h3= polygraphy.name
                    p
                        |Учебная, 83 - 311 офис; 3 этаж
                        br
                        |тел. (3812) 51-09-80
                .detail(id='polygraphy-page')
                    a(href='#polygraphy-page')
                        |Подробнее..
