extends ../layout

block append content

    div.logo
    div.search
        div
            form#search-field(method='get', action='#')
                input.search_line(name='search', form='search-field', type='text', placeholder='Поиск')
        .radiobuttons
            form#btn(method='get', action='#')
                label#btn1.btn
                    input#btn1(name='btn', value='in_color', form='btn', type='radio', checked='')
                    | печать в цвете
                label#btn2.btn
                    input#btn2(name='btn', value='on_cups', form='btn', type='radio')
                    | печать на кружках
                label#btn3.btn
                    input#btn3(name='btn', value='wide_format', form='btn', type='radio')
                    | широкоформатная печать
                label#btn4.btn
                    input#btn4(name='btn', value='serigraphy', form='btn', type='radio')
                    | шелкография
        .selects
            form(method='get', action='#')
                select.payment_method(name='payment_method')
                    option(selected='') Способ оплаты
                    option Наличными
                    option Безаличный расчет по карте
                    option Оплата по счету
                select.delivery_method(name='delivery_method')
                    option(selected='') Доставка
                    option Есть
                    option Нет
        .checkboxes
            label#check.check
                input#check(type='checkbox')
                | выдает копию чека
            label#check.check
                input#check(type='checkbox')
                | принимает заказ по e-mail