extends ../layout

block append content

    div.logo
    div.search
        div
            form#search-field(method='get', action='#')
                input.search-line(name='search', form='search-field', type='text', placeholder='Поиск')
        form#btn(method='get', action='#')
            div.radiobuttons
                label#btn1.btn
                    input#btn1(name='btn', value='in_color', form='btn', type='radio', checked='')
                    | печать в цвете
                label#btn2.btn
                    input#btn2(name='btn', value='on_cups', form='btn', type='radio')
                    | печать на кружках
                label#btn3.btn
                    input#btn3(name='btn', value='wide_format', form='btn', type='radio')
                    | широкоформатная печать
                label#btn4.btn
                    input#btn4(name='btn', value='serigraphy', form='btn', type='radio')
                    | шелкография
            div.selects
                select.payment-method(name='payment_method')
                    option(selected='') Способ оплаты
                    option Наличный расчет
                    option Расчет по карте
                    option Оплата по счету
                select.delivery-method(name='delivery_method')
                    option(selected='') Доставка
                    option самовывоз
                    option почта России
                    option с курьером
            .checkboxes
                label#check.check
                    input#check(type='checkbox')
                    | выдает чек
                label#check.check
                    input#check(type='checkbox')
                    | принимает заказ по e-mail