extends ../layouts/layout

block append head
    link(rel="stylesheet", href="/stylesheets/b-bid.css")

block content

    .b-bid
        .b-bid__area-email-wrapper
            .b-bid__head-text
                |Если Вы хотите, чтобы Ваша полиграфия появилась в поиске, оставьте
                br
                |нам свой e-mail, мы свяжемся с Вами в ближайшее время.

            .b-bid__form-container
                form(id = 'request-form')
                    input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
                    .b-bid__input-wrapper
                        input.b-bid__email-input(type='text', name='email')
                        button.b-bid__submit-email(type='button', id='submit-email', form = 'request-form')
                            | Отправить
                    .b_bid__for-error
                    .b-bid__error-container
        if security.isUserInRole("ROLE_ANONYMOUS")
            .b-bid__area-login-wrapper
                .b-bid__head-text
                    |Если Ваша полиграфия уже есть в нашем поиске, можете
                .b-bid__button-login-container
                    a.b-bid__button-login(href='/login')
                        | Войти

    script(type='application/javascript', src='/scripts/info-for-polygraphy.js')