extends ../layouts/layout-login

block append content

    header.header
        .logo-box
            a(href='/')
                .logo
        .more-info
            .info-for-polygraphy
                Информация для полиграфий
            .about-project
                О проекте
        .slogan
            Не знаете, где сделать принт на футболку? Или напечатать быстро 1000 визиток?
            br
            Мы найдем полиграфии для ваших задач!


    .login-form
        .login-headline
            ВХОД НА САЙТ
        form(action='/login', method='post')
            input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
            .field-email
                | E-mail
                input.form-control#name-input(name='username', type='text')
                | Пароль
            .field-password
                input.form-control#password-input(name='password', type='password')
            button.submit-login-form(type='submit') Войти