extends ../layout-page

block append content

    h1  404 Not found
    h3  Cтраница не найдена и это не повод для огочения!
    h3  Вы не нашли страницу, зато можете найти "ту самую", нужную вам, полиграфию!
    h3  Только на нашем сайте http://polygraphy.7bits.it/