extends ../layout-page

block append content


    .header
        a(href='/')
            .logo
    .polygraphy-name
        = polygraphy.name
    .info
        .polygraphy-logo
        .short-info
            p= polygraphy.addres
            p= polygraphy.phone
            p= polygraphy.email
            p
                a(href='#{polygraphy.website}')= polygraphy.website
    .long-info
        p
            | Компания Дизайн-бюро «IQ» была основана в сентябре 2007 года.
            | С первых дней основным видом деятельности компании являются графический дизайн рекламной продукции,
            | а также качественные полиграфические услуги.
        p
            | Дизайн-бюро «IQ» — это компания, которая осуществляет свою деятельность на территории России.
            | Центральный офис Дизайн-бюро «IQ» находится в Омске,
            | откуда осуществляется управление деятельностью компании и развитием ее бизнеса на региональном уровне.
            | В 2012 году компания открыла свое локальное представительство в городе Сочи и Улан-Удэ.
            | В 2013 году заработал филиал в г. Новосибирск. Также планируется открытие региональных
            | представительств в других областных центрах России.
        p
            | Мы занимаемся разнообразными видами работ по ценовой категории начиная, от простых,
            | не требующих больших затрат до эксклюзивных, трудоемких проектов.
        p
            | Количество корпоративных клиентов компании ежедневно растет, нашими клиентами являются
            | государственные и коммерческие организации, а также предприятия малого и среднего бизнеса.
    p