extends ../layouts/layout

block append head
    link(rel="stylesheet", href="/stylesheets/page-about-project.css")

block content

    .b-content-block
        .b-content-block__headline
            | О ПРОЕКТЕ
        .b-content-block--content
            p
                = 'Нередко встает вопрос, как найти полиграфию, которая выполнит ваш заказ, и не тратить на поиски много времени.'
            p
                = 'Наш проект предоставляет вам быстрый поиск нужной полиграфии в соответствии с выбранными вами требованиями.'
            p
                = 'Просто введите, что хотите напечатать или изготовить,'+' '
                = 'отметьте дополнительные параметры поиска,'+' '
                = 'и сервис покажет, какая полиграфия справится с вашим заказом.'+' '
                = 'А еще и подскажет, как ее найти, принимает ли заказы по e-mail,'+' '
                = 'можно ли рассчитаться по счету, и многое другое.'
            p
                = 'Проект разработан в ходе Стажировки-2015 в компании'+' '
                a.link(href='http://7bits.ru/internship.html', target="_blank")= '7bits.'
