extends ../layout-page

block append content


    header
        a(href='/')
            .comeback
                | Вернуться к поиску
        a(href='/')
            .logo
    main
        .info
            .summary
                .polygraphy-name
                    = polygraphy.name
                table.services
                    tr
                        td
                        td
                        td
                        td
                    tr
                        td
                        td
                        td
                        td
                .address= polygraphy.addres
                .phone= polygraphy.phone
                .email= polygraphy.email
                .site
                    a(href='#{polygraphy.website}')= polygraphy.website
            .details
                .about-title
                    О ПОЛИГРАФИИ
                .about-text
                    Тут будет много текстаТут будет много текстаТут будет много текстаТут будет много текста
        .helper