extends ../layouts/layout

block append head
    //link(rel="stylesheet", href="/stylesheets/partials/success-action.css")

block append content

    .success-registration
        | Изменения успешно сохранены!