extends ../layouts/layout

block append head
    link(rel="stylesheet", href="/stylesheets/style-success-registration.css")

block append content

    .success-registration
        | Изменения успешно сохранены!