extends ../layouts/layout

block append head
    //link(rel="stylesheet", href="/stylesheets/partials/success-action.css")

block append content

    =message

    .success-registration
        | Это успех!
        br
        | Ваша заявка принята и будет рассмотрена в ближайшее время!