extends ../layouts/layout

block append head
    link(rel="stylesheet", href="/stylesheets/style-success-registration.css")

block append content

    .success-registration
        | Это успех!
        br
        | Ваша заявка принята и будет рассмотрена в ближайшее время!