extends ../layouts/layout

block append head
    //link(rel="stylesheet", href="/stylesheets/partials/success-action.css")

block content

    =message

    .success-registration
        #{jadeMessage.getMessage('template.success.registration.message')}