extends ../layouts/layout

block append head
    link(rel="stylesheet", href="/stylesheets/success-registration.css")

block append content

    .success-registration
        | Изменения успешно сохранены!