extends ../layout-success-registration

block append content

    h1  Это успех!
    h2  Вы зарегестрированы на нашем сайте!
    h3  Поздравляем с этим замечательным событием! Всем добра! Всегда рады видеть вас на нашем сайте!