extends ../layouts/layout

block append head
    //link(rel="stylesheet", href="/stylesheets/partials/success-action.css")

block content

    .success-registration
        | Это успех!
        br
        | Вы зарегистрированы на нашем сайте!