.b-content-block{
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    background-color: rgb(232, 232, 232);
    padding: 50px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
}

.b-content-block__headline{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.b-content-block__content{
    font-size: 18px;
    text-align: left;
    text-indent: 20px;
}

.link{
    color: #64be5f;
}

@media screen and (max-width: 1024px) {

    .b-content-block{
        width: 95%;
        max-width: 700px;
        height: auto;
        margin: 20px auto;
        padding: 20px;
    }

    .b-content-block__content{
        font-size: 16px;
    }
}

@media screen and (max-width: 700px){

    .b-content-block{
        padding: 20px 10px;
    }

}