
.b-checkboxes{
    margin: 20px auto;
    height: auto;
    width: 290px;
    text-align: left;
    color: white;
    font-family: "OpenSansLightRegular";
    font-size: 16px;
}

.b-checkboxes__checkbox{
    margin: 0;
    margin-left: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.b-checkboxes__input{
    display: none;
}

.b-checkboxes__input+label{
    background: inline("check.png") 0px 0px no-repeat;
    padding-left: 23px;
    width: 15px;
    height: 15px;
}

.b-checkboxes__input:checked+label{
    background: inline("check.png") 0 -30px no-repeat;
    padding-left: 23px;
    width: 15px;
    height: 15px;
}

.b-checkboxes__input+label:hover{
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

    .b-checkboxes__checkbox {
        margin-left: 0;
    }

    .b-checkboxes {
        margin: 20px auto 20px 25px;
    }
}