.b-comeback{
    margin: 10px auto 0px auto;
    text-align: center;
}

.b-comeback__button{
    outline: none;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid rgb(120, 103, 156);
    color: rgb(120, 103, 156);
    background-color: white;
    height: 30px;
    width: auto;
    padding: 5px 10px;
    font-size: 13px;
    text-decoration: none;
}

.b-comeback__button:hover{
    background-color: rgb(120, 103, 156);
    color: white;
}