/*@import url("osans.css");*/

.b-registration{
    width: 700px;
    height: auto;
    background-color: #64be5f;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 50px;
    color: white;
    position: relative;
}

.b-registration__headline{
    font-size: 30px;
}

.b-registration__text-fields{
    font-family: "OpenSansRegular";
}

.b-registration__text-input-wrapper{
    font-size: 16px;
    text-align: left;
    margin-bottom: 15px;
}

.b-registration__input-label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.b-registration__text-input-wrapper{
    display: inline-block;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}

.b-registration__input{
    //border: 2px solid white;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    padding: 0 30px;
    font-size: 16px;
    width: 100%;
    height: 40px;
}

.b-registration__input:hover,
.b-registration__input:focus,
.b-registration__textarea-field:hover,
.b-registration__textarea-field:focus{
    border: 2px solid #efe553;
}

.b-registration__input.b-registration__textarea-field{
    //border: 2px solid white;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    width: 100%;
    height: 300px;
    padding: 25px;
    resize: none;
}

.b-registration__field-checkbox{
    height: 30px;
    line-height: 30px;
    text-align: left;
    margin: 10px 0;
    font-size: 16px;
    font-family: "OpenSansLightRegular";
}

.b-registration__field-checkboxes{
    text-align: left;
    //margin: 20px 0;
    font-size: 18px;
    font-family: "OpenSansRegular";
}

input.b-registration__checkbox[type="checkbox"]{
    display: none;
}

input.b-registration__checkbox[type="checkbox"]+label{
    background: inline("check.png") 0px 0px no-repeat;
    padding-left: 23px;
    width: 15px;
    height: 15px;
}

input.b-registration__checkbox[type="checkbox"]:checked+label{
    background: inline("check.png") 0 -30px no-repeat;
    padding-left: 23px;
    width: 15px;
    height: 15px;
}

input.b-registration__checkbox[type="checkbox"]+label:hover{
    cursor: pointer;
}

.b-registration__checkboxes-wrapper{
    width: 50%;
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

.b-registration_checkbox-order-by-email,
.b-registration_checkbox-issue-check{
    width: 100%;
    float: left;
    margin: 0;
    margin-bottom: 20px;
}

.b-registration__submit{
    height: 40px;
    width: auto;
    line-height: 40px;
    border: none;
    border-radius: 20px;
    //color: white;
    font-family: "OpenSansLightRegular";
    font-size: 16px;
    text-decoration: none;
    background-color: #efe553;
    outline: none;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 10px;
    float: right;
    position: absolute;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
}

button.b-registration__submit[type="submit"]:hover{
    cursor: pointer;
    background-color: #dad14c;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.b-registration__for-error{
    //display: none;
    height: 7px;
    background-image: inline("for-error.png");
    background-size: 13px 7px;
    background-repeat: no-repeat;
    background-position: calc(0% + 50px);
}

.b-registration__invalid{
/*    display: none;*/
    background-color: #FD5D58;
    max-width: 80%;
    float: left;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
}

.b-registration__base-error{
    /*display: none;*/
    background-color: #FD5D58;
    max-width: 80%;
    /*float: right;*/
    margin: auto;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 1024px){

    .b-registration{
        width: 95%;
        max-width: 600px;
        height: auto;
        padding: 20px 15px;
        margin: 20px auto;
    }

    .b-registration__checkboxes-wrapper{
        width: 100%;
        display: inline-block;
    }

    .b-registration__field-checkbox {
        font-size: 15px;
        width: 90%;
        margin: 10px auto;
    }

    .b-registration__submit{
        float: none;
        position: static;
    }

    .b-registration__text-fields{
        width: 95%;
        margin: auto;
    }

}