.b-results{
    width: 710px;
    height: auto;
    float: left;
    margin: auto;
    margin-left: 20px;
}

.b-results__list{
    margin: auto;
    padding: 0;
}

.b-results__no-results{
    text-align: center;
    font-size: 22px;
    color: rgb(16, 80, 99);
    height: 30px;
    line-height: 30px;
    padding: 0 40px;
}

p.b-results__no-results{
    margin: 0;
    width: auto;
    height: auto;
    padding: 0;
}

.b-results__empty-results{
    font-size: 20px;
}

@media screen and (max-width: 1024px) {

    .b-results {
        margin: auto;
        display: inline-block;
        width: calc(100% - 320px);
    }

}

@media screen and (max-width: 700px) {

    .b-results {
        width: 95%;
        float: none;
        display: block;
    }

}

