.general-checkbox{
    margin: 15px 0;
}

.general-checkbox__checkbox{
    display: none;
}

.general-checkbox__checkbox+label{
    background: inline("check.png") 0 0 no-repeat;
    padding-left: 23px;
    width: auto;
    height: 20px;
    display: block;
    text-align: left;
}

.general-checkbox__checkbox:checked+label{
    background: inline("check.png") 0 -30px no-repeat;
}

.general-checkbox__checkbox+label:hover{
    cursor: pointer;
}