/*@import url("osans.css");*/

body{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    font-family: "OpenSansLightRegular";
}

:focus{
    outline: none;
}

.js-normal-input{
    border-color: white;
}

.js-error-input{
    border-color: #FD5D58;
}

.js-none-display{
    display: none;
}

.js-display-block{
    display: block;
}

@media screen and (max-width: 1024px){

    body{
        margin: auto;
        width: 95%;
    }

}

@media screen and (max-width: 700px){

    body{
        max-width: 450px;
        min-width: 320px;
    }

}