/*@import url("osans.css");*/

.js-prev, .js-next {
    height: 40px;
    width: auto;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    font-family: "OpenSansRegular";
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #64be5f;
    outline: none;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 10px;
}

.js-prev:hover, .js-next:hover {
    cursor: pointer;
    background-color: #88d280;
}

.js-prev {
    float: left;
    margin-bottom: -10px;
}

.js-next {
    float: right;
}

#steps {
    list-style: none;
    width: 100%;
    overflow: hidden;
    margin: 20px 0px;
    padding: 0px;
}

#steps li {
    font-size: 30px;
    float: left;
    padding: 0;
    margin-right: 10px;
    color: white;
    opacity: 0.5;
}

#steps li span {
    font-size: 11px;
    display: block;
}

#steps li.js-current {
    color: #efe553;
    opacity: 1;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1024px){

    .js-prev, .js-next{
        float: none;
        display: inline-block;
    }

}