extends ../layouts/layout

block append head
    link(rel="stylesheet", href="../stylesheets/style-login.css")

block content

    .login-form
        .login-headline
            | ВХОД НА САЙТ
        form(action='/login', method='post')
            input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
            .field-email
                | E-mail
                input.form-control#name-input(name='username', type='text')
                | Пароль
            .field-password
                input.form-control#password-input(name='password', type='password')
            button.submit-login-form(type='submit')
                | Войти