extends ../layouts/layout

block append head
    link(rel="stylesheet", href="/stylesheets/login.css")

block content

    .b-login-form
        .b-login-form__headline
            | ВХОД НА САЙТ
        form(action='/login', method='post')
            input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
            .b-login-form__input-field
                | E-mail
                input.b-login-form__input#name-input(name='username', type='text')
                | Пароль
            .b-login-form__input-field
                input.b-login-form__input#password-input(name='password', type='password')
            button.b-login-form__submit(type='submit')
                | Войти